*::before,
*::after,
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
}

:root {
	--clr-text: #000;
	--clr-text-secondary: #fff;
	--clr-sky: #E2EFF3;
	--clr-background: #E2EFF3;
	--clr-background-secondary: #fbcb95;
	--clr-cloud: #fff;
	--clr-cloud-secondary: #000;
	--background-image: url(/images/background.jpg);
	--cloud-image: url(/images/cloud.svg);
	--cloud-image-secondary: url(/images/night-cloud.svg);
}

.darkmode {
	--clr-text: #fff;
	--clr-text-secondary: #000;
	--clr-sky: #002f45;
	--clr-background: #000609;
	--clr-background-secondary: #FFE37A;
	--clr-cloud: #111A23;
	--clr-cloud-secondary: #fff;
	--background-image: url(/images/background-dark.jpg);
	--cloud-image: url(/images/night-cloud.svg);
	--cloud-image-secondary: url(/images/cloud.svg);
}

body {
	color: var(--clr-text);
	font-family: 'Cabin', sans-serif;
	background-color: var(--clr-cloud);
}

h1 {
	font-family: 'Akaya Telivigala', cursive;
    font-size: 5rem;
	font-weight: 700;
	line-height: 1;
}

h2 {
	font-family: 'Akaya Telivigala', cursive;
	font-size: 3.125rem;
}

h3 {
	font-family: 'Akaya Telivigala', cursive;
	font-size: 2.5rem;
}

h4 {
	font-family: 'Akaya Telivigala', cursive;
	font-size: 2rem;
}

p {
	color: var(--clr-text);
	font-size: 1.1875rem;
}

a {
	font-size: 1.1875rem;
	font-weight: 500;
}

ul {
	list-style: none;
}

.content img {
	margin-top: 1rem;
	margin-bottom: 1rem;
}

.content__header {
	margin-top: 1rem;
	margin-bottom: .25rem;
}

pre {
	margin-top: 1rem;
	margin-bottom: 1rem;
}

iframe {
	margin-top: 1rem;
	margin-bottom: 1rem;
}