* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
}

:root {
	--clr-text: #000;
	--clr-text-secondary: #fff;
	--clr-background: #E2EFF3;
	--clr-background-secondary: #fbcb95;
	--clr-cloud: #fff;
	--clr-cloud-secondary: #000;
}

body {
	color: var(--clr-text);
	font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3,
p {
    padding: 0;
    margin: 0;
}

h1 {
	font-family: 'Akaya Telivigala', cursive;
	font-weight: 700;
	line-height: 1;
}

h2 {
	font-family: 'Akaya Telivigala', cursive;
	font-size: 3.125rem;
}

p {
	font-size: 1.1875rem;
}

a {
	font-size: 1.1875rem;
	font-weight: 500;
}

ul {
	list-style: none;
}