:root {
  /* Kleuren */
  --black: #000;
  --white: #fff;
  --blue: #D0E5FF;
  --orange: #fbcb95;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Open Sans", sans-serif;
}

h1,
h2,
p {
  margin: 0;
  padding: 0;
}


h1 {
  font-family: 'Akaya Telivigala', cursive;
  font-size: 3rem;
  text-align: center;
}

h2 {
  font-family: 'Akaya Telivigala', cursive;
}

p {
  font-family: 'Cabin', sans-serif;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5;
}

header {
  background-color: var(--blue);
  display: flex;
  justify-content: center;
}

.sun {
  padding: 1em 2em 2em 2em;
  background-color: var(--orange);
  width: max-content;
  border-radius: 0 0 5em 5em;
  position: absolute;
  z-index: 1;
}

.dark-mode-toggle {
  padding: 1em;
  font-family: 'Cabin', sans-serif;
  font-size: 1rem;
  font-weight: 700;
  background-image: url('/cloud.png');
  background-size: contain;
  background-color: var(--orange);
  background-repeat: no-repeat;
  border: none;
  animation: wobble-reverse 9s linear infinite;
  cursor: pointer;
}

@keyframes wobble-reverse {
  0% {
    transform: translateX(.5em);
  }
  50% {
    transform: translateX(-.5em);
  }
  100% {
    transform: translateX(.6em);
  }
}

.dark-mode-toggle:hover {
  color: var(--white);
  background-image: url('/night-cloud.png');
}

ul {
  display: flex;
  gap: 1em;
  list-style: none;
}