:root {
  /* Kleuren */
  --black: #000;
  --white: #fff;
  --blue: #D0E5FF;
  --orange: #fbcb95;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Open Sans", sans-serif;
}

h1,
h2,
p {
  margin: 0;
  padding: 0;
}


h1 {
  font-family: 'Akaya Telivigala', cursive;
  font-size: 5rem;
  text-align: center;
  line-height: 1;
}

h2 {
  font-family: 'Akaya Telivigala', cursive;
  font-size: 2rem;
}

p {
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5;
}

ul {
  list-style: none;
}
